* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  background: none;
  text-decoration: inherit;
  box-sizing: border-box;
  user-select: none;
}

h1, h2, h3, h4, h5, h6, span, p, input, textarea, button, i, a {
  font-size: inherit;
  font-weight: inherit;
  font-style: normal;
  line-height: inherit;
  color: inherit;
}

ul {
  list-style: none;
}

img {
  width: 100%;
  height: auto;
}
