@import url('https://fonts.googleapis.com/css2?family=Yeseva+One&family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400&display=swap');

body, button, input, select {
  font-family: 'Open Sans', Arial, sans-serif;
}

.layout {
  font-weight: 400;
  font-size: 1.6rem;
  color: var(--color-black);

  @media screen and (max-width: 800px) {
    font-size: 1.4rem;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Yeseva One', cursive;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 4.5rem;
  margin-bottom: 30px;
}

p {
  margin-bottom: 15px;
}
